extends ./layout.jade

block head
  link(href='./error.css', rel='stylesheet')

block footer
  script(src='./error.js')

block title
  title #{app.name} | Error

block content
  .container(align='center')
    h1
      span.mdi-alert-error(aria-hidden='true')
      |  Oops, that's an error!
    h2 But don't panic... There are only two options:
    .row
      .col-md-6
        h4 You typed in a wrong URL or your Browser isn't compatiple with #{app.name}:
        div
          .checkbox.checkbox-material-red
            label
              input#webgl(type='checkbox', disabled)
              b WebGL
          p.hint
            | You can get help WebGL
            a(href='http://get.webgl.org/') here
            | .
        div
          .checkbox.checkbox-material-red
            label
              input#canreq(type='checkbox', disabled)
              b Canvas & requestAnimationFrame
          p.hint
            | Please upgrade your Browser. You can get a modern Browser
            a(href='http://browsehappy.com/') here
            | .
        a(href='./index.html')
          button.btn.btn-primary.btn-material-red Try again!
      .col-md-6
        h4 #{app.name} has too many Bugs!
        h3 Contribute on Github:
        a(href=app.repository)
          img#octocat(src='./third-party/octocat.png')
